* {
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
body {
    margin: 0px 10px;
    width: auto;
    height: 100vh;
}

#main {
	/*height: 100%;*/
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-template-rows: 40px auto 40px;
    grid-template-areas:
        'header header'
        'aside section'
        'footer footer';
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

aside {
    height: calc(100vh - 80px);
    grid-area: aside;
    height: auto;
    background: #f3f3f3;

    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5em;
}

section {
    grid-area: section;
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    overflow:auto;

    border: 1px dotted #f3f3f3;
}

footer {
    grid-area: footer;
    text-align: center;

}


aside ul {
    list-style: none;
    font-size: 12px;
}


#title {
    height: 98px;
    text-align: center;

}

#title p {
    font-size: 40px;
    line-height: 98px;
    margin-top: 0px;
    margin-bottom: 0px;

}

#user{
	display: flex;
	justify-content: flex-end;
	margin-top: 4px;
	margin-right: 10px;
}



.dialog{
	border: 1px solid #444;
	padding: 5px;
}

.reward{
	margin:10px 0px;
}

.content{
    border: 1px solid #030;
}

.like_button{
    display: inline-block;
    width: 70px;
    border: 1px solid black;
    padding: 0px 10px;
    text-align: center;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    background: #aaa;
}
a{
    text-decoration: none;
}

 .favorite_on{
    color:yellow;
 }

 .favorite_off{
    color:#fff;
 }

 .font_align_center{
    text-align: center;
 }